# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio / IntelliJ IDEA
.idea/

# IntelliJ IDEA project files
*.iml

# Android build files
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Android captures
captures/